##
# Environment
#
# To export all these:
#
#     export $(grep ^\\w .env | xargs -0)
##

ENV=development
LOCO_ENV=development

##
# Database
#
# Example to connect:
#
#     psql "$DATABASE_URL"
##

DATABASE_STEM=demo_rust_loco
DATABASE_NAME=demo_rust_loco_development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_OWNER_USERNAME=demo_rust_loco_owner
DATABASE_OWNER_PASSWORD=6c205ea7be275e827d1c1add3a235bef
DATABASE_URL=postgres://demo_rust_loco_owner:6c205ea7be275e827d1c1add3a235bef@localhost:5432/demo_rust_loco_development

##
# Mailer
#
# Fastmail settings if you want to do manual command line examples:
#
#    MAILER_USERNAME_BASE64 = echo -n "$MAILER_USERNAME" | openssl enc -base64
#    MAILER_PASSWORD_BASE64 = echo -n "$MAILER_PASSWORD" | openssl enc -base64
#
# Curl settings if you want to do manual command line examples:
#
#     curl \
#         --location '127.0.0.1:5150/api/auth/register' \
#         --header 'Content-Type: application/json'
#         --data-raw '{
#             "name": "Alice",
#             "email": "alice@example.com",
#             "password": "secret"
#         }'
#
##

# For Fastmail, the app must use host smtp.fastmail.com.
MAILER_HOST=smtp.fastmail.com

# For Fastmail, port 465 is used for secure message submission, not port 587.
MAILER_PORT=465

# For Fastmail, the username must be the account owner's canonical email i.e.
# the email address that Fastmail assigns to the account owner for all usage.
MAILER_USERNAME=joelparkerhenderson@fastmail.com

# For Fastmail, the password must be created per app, using Fastmail tooling.
MAILER_PASSWORD=2h5p6u8y7k4x523u
